{% extends 'base_admin.html' %}

{% block title %}Dashboard | LMS{% endblock %}

{% block content %}

<div class="mb-4">
    <h4>Welcome, Admin 👋</h4>
    <p class="text-muted">Here’s an overview of your LMS system.</p>
</div>

<div class="row g-4">

     <!-- Students -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Active Students</h6>
                <h3 class="text-primary">{{ student_count }}</h3>
            </div>
        </div>
    </div>

    <!-- Faculties -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Total Faculties</h6>
                <h3 class="text-success">{{ faculty_count }}</h3>
            </div>
        </div>
    </div>

    <!-- Courses -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Total Courses</h6>
                <h3 class="text-warning">{{ courses_count }}</h3>
            </div>
        </div>
    </div>

    <!-- Active Users -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Total Users</h6>
                <h3 class="text-danger">{{ active_count }}</h3>
            </div>
        </div>
    </div>

    <!-- New Enrollments -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>New Enrollments (This Month)</h6>
                <h3 class="text-info">{{ monthly_enrollments }}</h3>
            </div>
        </div>
    </div>

    <!-- Total Subjects -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Total Subjects</h6>
                <h3 class="text-secondary">{{ subject_count }}</h3>
            </div>
        </div>
    </div>

    <!-- Pending Assignments -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Pending Assignments</h6>
                <h3 class="text-dark">{{ pending_assignments }}</h3>
            </div>
        </div>
    </div>

    <!-- Total Revenue -->
    <div class="col-md-6 col-lg-3">
        <div class="card stat-card shadow-sm border-0">
            <div class="card-body text-center">
                <h6>Total Revenue</h6>
                <h3 class="text-success">₹ {{ total_revenue }}</h3>
            </div>
        </div>
    </div>


</div>

{% endblock %}