<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <div class="container-fluid">
        <span class="navbar-brand fw-bold">⚙️ LMS Admin Panel</span>

        <div class="dropdown">
            <a class="text-white text-decoration-none dropdown-toggle"
               href="#" role="button" data-bs-toggle="dropdown">
                {{ request.user.username }}
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" href="{% url 'logout_view' %}">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>